/* ---------- RESET  ---------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----- FONTS  ----- */

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/roboto-v30-latin_cyrillic-regular.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v30-latin_cyrillic-regular.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/roboto-v30-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v30-latin_cyrillic-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/roboto-v30-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/roboto-v30-latin_cyrillic-700.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v25-latin_cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin_cyrillic-300.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-300.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-300.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/montserrat-v25-latin_cyrillic-300.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v25-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/montserrat-v25-latin_cyrillic-regular.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/montserrat-v25-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-500.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/montserrat-v25-latin_cyrillic-500.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat-v25-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-600.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-600.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/montserrat-v25-latin_cyrillic-600.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v25-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
    url('../fonts/montserrat-v25-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-700.woff')
      format('woff'),
    /* Modern Browsers */ url('../fonts/montserrat-v25-latin_cyrillic-700.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../fonts/montserrat-v25-latin_cyrillic-700.svg#Montserrat')
      format('svg'); /* Legacy iOS */
}

/* ---------- GENERAL  ---------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f1f1f1;
}

/* ---------- HEADER  ---------- */

.header {
  margin: 50px auto 20px;
  width: 1440px;
}

.wrapper {
  max-width: 1182px;
  margin: 0 auto;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  background: #ffffff;
}

.wrapper:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  height: 56px;
  background: #1d252e;
}

.header__info-contacts {
  line-height: 26px;
  display: flex;
  align-items: center;
}

.header__info-contacts-phone {
  margin: auto 15px;
  padding-top: 8px;
}

.header__info-contacts-separator {
  margin-right: 15px;
  margin-left: 0;
  margin-top: 6px;
}

.header__info-contacts-ins {
  position: relative;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: url('../img/svg/ins-3.svg');
}

.header__info-contacts-ins p:first-child {
  position: absolute;
  top: 2px;
  left: 4px;
}

.header__info-contacts-ins p:last-child {
  position: absolute;
  top: -10px;
  left: 16px;
}

.header__info-contacts-facebook {
  position: relative;
  margin-right: 10px;
  width: 23px;
  height: 23px;
  background: url('../img/svg/facebook-2.svg');
}

.header__info-contacts-facebook p {
  position: absolute;
  top: 1px;
  left: 9px;
}

.header__info-contacts-phone-call {
  position: relative;
  margin-right: 10px;
  width: 24px;
  height: 25px;
  background: url('../img/svg/phone-call-3.svg') no-repeat center center / cover;
}

.header__info-contacts-phone-call p {
  position: absolute;
  top: 0px;
  left: 5px;
}

.header__info-contacts-phone-nocall {
  position: relative;
  width: 24px;
  height: 24px;
  background: url('../img/svg/phone-nocall-2.svg') no-repeat center center / cover;
}

.header__info-contacts-phone-nocall p {
  position: absolute;
  top: 0px;
  left: 5px;
}

/*----- INFO-LANG -----*/

.header__info-lang {
  position: relative;
  width: 61px;
  background: #1d252e;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
  border: 0;
}

.header__info-lang > p {
  position: absolute;
  top: -10px;
  left: 40px;
  z-index: 10;
}

.header__info-lang ul {
  position: absolute;
  top: -15px;
  left: 0px;
  list-style: none;
  width: 61px;
  padding-left: 7px;
  margin: auto;
  background: #1d252e;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.3);
}

.header__info-lang ul div {
  width: 47px;
  padding-left: 3px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #016da6;
}

.header__info-lang ul li:last-child div {
  border-bottom: 0;
}

/* .header__info-lang ul li:nth-child(2),
li:nth-child(3) {
  height: 0;
} */

/* .header__info-lang ul li:nth-child(1) div,
li:nth-child(2) div {
  border-bottom: 0;
} */

.header__info-lang p:hover {
  cursor: pointer;
}

.header__info-lang ul li:first-child:hover {
  cursor: pointer;
}

/*-----   -----*/

.header__logo {
  height: 74px;
  padding-left: 40px;
  padding-right: 40px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-burger {
  text-decoration: none;
  cursor: pointer;
}

.header__logo-logo {
  text-decoration: none;
  cursor: pointer;
}

/* ------ INPUT Прайс-лист -----*/

.header__logo-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-search-input {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  width: 110px;
  height: 24px;
  border: 1px solid #cd9933;
  border-radius: 18px;
  padding-left: 56px;
  width: 195px;
  height: 36px;
  background: url('../img/svg/search.svg') 20px 8px / 19px 19px no-repeat, #ffffff;
}

.header__logo-search-input::placeholder {
  color: #1d252e;
}

.header__logo-search-input:hover {
  background: url('../img/svg/search-white.svg') 20px 8px / 19px 19px no-repeat,
    rgba(205, 153, 51, 1);
}

.header__logo-search-input:hover::placeholder {
  color: #ffffff;
}

.header__logo-search-input:focus {
  outline: none;
  border: 2px solid #cd9933;
  background: url('../img/svg/search.svg') 20px 8px / 19px 19px no-repeat, #ffffff;
}

.header__logo-search-input:focus::placeholder {
  color: #1d252e;
}

/* ---------- MAIN  ---------- */

.main-wrapper {
  max-width: 882px;
  margin: 14px auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-title p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
}

/* ---------- FORMS  ---------- */

.forms {
  display: block;
}

.forms-block {
  width: 263px;
  border: 0;
  position: relative;
  padding: 9px 10px 9px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forms-input {
  width: 100%;
  cursor: pointer;
  border: 0;
}

.forms-icon {
  position: relative;
}

.forms-icon p:nth-child(1) {
  padding-right: 10px;
  position: absolute;
  top: -34px;
  right: -10px;
}

.forms-icon p:nth-child(2) {
  padding-right: 10px;
  position: absolute;
  top: -30px;
  right: 0;
}

.forms-icon p:nth-child(3) {
  display: none;
  padding-right: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.forms-input::placeholder {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #1d252e;
}

.forms-input:focus {
  outline: 0;
  cursor: text;
}

.forms-input:not(:placeholder-shown) ~ .forms-icon > p {
  display: none;
  top: 0;
  right: 0;
}

.forms-input:not(:placeholder-shown) ~ .forms-icon > p:nth-child(3) {
  display: block;
  top: -36px;
  right: -5px;
}

.forms-line {
  width: 263px;
  height: 1px;
  border-top: 1px solid #2a3b45;
  position: absolute;
  top: 35px;
  left: -2px;
}

.forms-massage {
  opacity: 0;
  transition: opacity 1s ease 0s;
  position: absolute;
  top: 40px;
  left: 2px;
  width: 100%;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ff0000;
}

.forms-input:invalid + .forms-line {
  border-top: 1px solid rgba(255, 0, 0, 1);
}

.forms-input:invalid ~ .forms-massage {
  opacity: 1;
}

/*-----  -----*/

.about-using {
  padding-left: 194px;
  padding-top: 77px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #1d252e;
}

.services {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 66px;
}

.services-list {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  display: flex;
  align-items: center;
  margin-right: 90px;
}

.services-list ul li a {
  color: #0084ca;
  text-decoration: none;
  border: none;
}

.services-price-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 8px;
  width: 716px;
  height: 94px;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 50px;
}

.item-info a {
  text-decoration: none;
}

.item-info-name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1d252e;
}

.item-info-link a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #2a3b45;
}

.item-info-block {
  display: flex;
  align-items: center;
  position: relative;
}

.item-info__icon p:first-child {
  position: absolute;
  top: -2px;
  left: 89px;
}

.item-info__icon p:last-child {
  position: absolute;
  top: 2.5px;
  left: 95px;
}

.price-info {
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-info > p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: right;
  color: #1d252e;
  margin-right: 10px;
}

/* ------ Basket -----*/

.basket {
  width: 52px;
  height: 52px;
  background: url('../img/svg/basket.svg') 20px 14px / 24px 18px no-repeat,
    url('../img/svg/basket-plus.svg') 6px 12px / 12px 42px no-repeat,
    url('../img/svg/basket-wheel.svg') 37px 33px / 4px 4px no-repeat,
    url('../img/svg/basket-wheel.svg') 27px 11px / 4px 49px no-repeat,
    url('../img/svg/basket-circle.svg');
}

.basket:hover {
  background: url('../img/svg/basket.svg') 20px 14px / 24px 18px no-repeat,
    url('../img/svg/basket-plus.svg') 6px 12px / 12px 42px no-repeat,
    url('../img/svg/basket-wheel.svg') 37px 33px / 4px 4px no-repeat,
    url('../img/svg/basket-wheel.svg') 27px 11px / 4px 49px no-repeat,
    url('../img/svg/basket-circle-hovered.svg');
}

.basket a {
  cursor: pointer;
}

.price-info a:checked .basket {
  background: url('../img/svg/basket.svg') 20px 14px / 24px 18px no-repeat,
    url('../img/svg/basket-plus.svg') 6px 12px / 12px 42px no-repeat,
    url('../img/svg/basket-wheel.svg') 37px 33px / 4px 4px no-repeat,
    url('../img/svg/basket-wheel.svg') 27px 11px / 4px 49px no-repeat,
    url('../img/svg/basket-circle-focused.svg');
}
